<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Biblioteka Online!">

        <title>{% block title %} Biblioteka online {% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('global') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">Biblioteka online</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}">Strona główna</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj się</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Zaloguj się</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">Załóż konto</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead" style="background-image: url('{{ asset('build/home-bg.jpg') }}')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>Biblioteka online</h1>
                            <span class="subheading">Nowoczesna biblioteka online. Sprawdź nasze zasoby!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>